- @pagination_links = paginate(@count, @limit, @current_page, @permitted_params)

#dl-search-status.card
  .card-body
    .dl-results-position
      = search_status(@count, @start, @num_results_shown, 'collection')
    .dl-result-controls.form-inline
      .btn-group.btn-group-toggle{"data-toggle": "buttons"}
        %label.btn.btn-sm.btn-light.active
          %input{autocomplete: "off", checked: "checked",
                 name: "dl-results-style", type: "radio", value: "less"}
          Less
        %label.btn.btn-sm.btn-light
          %input{autocomplete: "off", name: "dl-results-style",
                 type: "radio", value: "more"}
          More
      = sort_menu
.row.justify-content-md-center
  .col-md-auto
    = @pagination_links

= items_as_media(@items, link_to_admin: !current_user.nil?)

.row.justify-content-md-center
  .col-md-auto
    = @pagination_links

- if Rails.env.development?
  = render partial: 'shared/results_debug',
           locals: { es_request: @es_request_json,
                     es_response: @es_response_json }
