<% provide :body_id, 'dl-admin-item' %>
<% provide(:title, @item.title) %>

<h1><%= @item.title %></h1>

<nav style="margin-bottom: 1em">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-system-info-tab" data-toggle="tab"
       href="#nav-system-info" role="tab" aria-controls="nav-system-info"
       aria-selected="true">System Information</a>
    <a class="nav-item nav-link" id="nav-descriptive-info-tab" data-toggle="tab"
       href="#nav-descriptive-info" role="tab" aria-controls="nav-descriptive-info"
       aria-selected="false">Description</a>
    <a class="nav-item nav-link" id="nav-indexed-fields-tab" data-toggle="tab"
       href="#nav-indexed-fields" role="tab" aria-controls="nav-indexed-fields"
       aria-selected="false">Indexed Fields</a>
    <a class="nav-item nav-link" id="nav-document-tab" data-toggle="tab"
       href="#nav-document" role="tab" aria-controls="nav-document"
       aria-selected="false">Raw Document</a>
    <a class="nav-item nav-link" id="nav-object-tab" data-toggle="tab"
       href="#nav-object" role="tab" aria-controls="nav-object"
       aria-selected="false">Object</a>
  </div>
</nav>

<div class="tab-content">
  <div class="tab-pane fade show active" id="nav-system-info" role="tabpanel"
       aria-labelledby="nav-system-info-tab">
    <dl>
      <dt>Content Service</dt>
      <dd>
        <%= link_to admin_content_service_path(@item.content_service) do %>
          <%= icon_for @item.content_service %>
          <%= @item.content_service.name %>
        <% end %>
      </dd>
      <dt>Local ID</dt>
      <dd><code><%= @item.id %></code></dd>
      <dt>Source ID</dt>
      <dd><code><%= @item.source_id %></code></dd>
      <dt>Source URI</dt>
      <dd><%= link_to @item.source_uri, @item.source_uri, target: '_blank' %></dd>
      <dt>Variant</dt>
      <dd><%= @item.variant %></dd>
      <dt>Media Type</dt>
      <dd><%= @item.media_type.present? ? @item.media_type : 'None' %></dd>
      <dt>Last Harvest</dt>
      <dd>
        <% if @item.harvest %>
          <%= link_to harvest_title(@item.harvest),
                      admin_harvest_path(@item.harvest) %>
        <% elsif @item.last_indexed %>
          <%= local_time(@item.last_indexed) %>
        <% end %>
      </dd>
    </dl>
  </div>

  <div class="tab-pane fade" id="nav-descriptive-info" role="tabpanel"
       aria-labelledby="nav-descriptive-info-tab">
    <table class="table">
      <tr>
        <th>Source Element</th>
        <th><%= link_to 'Local Element Mapping',
                        admin_content_service_path(@item.content_service) %></th>
        <th>Value</th>
      </tr>
      <% @item.elements.sort_by{ |e| e.name }.each do |element| %>
        <tr>
          <td>
            <code><%= element.name %></code>
          </td>
          <td>
            <%= @item.content_service.element_def_for_element(element)&.label %>
          </td>
          <td><%= element.value %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="tab-pane fade" id="nav-indexed-fields" role="tabpanel"
       aria-labelledby="nav-indexed-fields-tab">
    <table class="table">
      <thead>
        <tr>
          <th>Field</th>
          <th>Value</th>
          <th>Boost (<%= Boost::MIN_BOOST %>&ndash;<%= Boost::MAX_BOOST %>)</th>
        </tr>
      </thead>
      <tbody>
        <% @indexed_document['_source'].each do |field, values| %>
          <% values = [values] unless values.respond_to?(:each) %>
          <% values.each do |value| %>
            <tr>
              <td><code><%= field %></code></td>
              <td><code><%= value %></code></td>
              <td>
                <% boost = @boosts.find{ |b| b.field == field and b.value == value } %>
                <% if boost %>
                  <% if boost.boost > 0 %>
                    <span class="badge badge-pill badge-success"><%= boost.boost %></span>
                  <% elsif boost.boost < 0 %>
                    <span class="badge badge-pill badge-danger"><%= boost.boost %></span>
                  <% end %>
                <% else %>
                  <span class="badge badge-pill badge-light">0</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="nav-document" role="tabpanel"
       aria-labelledby="nav-document-tab">
    <pre><%= JSON.pretty_unparse(@indexed_document) %></pre>
  </div>

  <div class="tab-pane fade" id="nav-object" role="tabpanel"
       aria-labelledby="nav-object-tab">
    <pre><%= YAML::dump(@item) %></pre>
  </div>

</div>
