<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Field</th>
      <th>Value</th>
      <th>Boost (<%= Boost::MIN_BOOST %>&ndash;<%= Boost::MAX_BOOST %>)</th>
    </tr>
  </thead>
  <tbody>
    <% @boosts.each do |boost| %>
      <tr>
        <td style="width: 1px">
          <% if current_user.medusa_admin? %>
            <button type="button" class="btn btn-light btn-sm dl-edit-boost"
                    data-toggle="modal" data-target="#dl-edit-boost-modal"
                    data-boost-id="<%= boost.id %>">
              <i class="fas fa-edit"></i> Edit
            </button>
          <% end %>
        </td>
        <td style="width: 1px">
          <% if current_user.medusa_admin? %>
            <%= link_to admin_boost_path(boost),
                        class: 'btn btn-danger btn-sm', method: :delete,
                        data: { confirm: 'Are you sure you want to delete '\
                      'this boost?' } do %>
              <i class="fas fa-trash"></i> Delete
            <% end %>
          <% end %>
        </td>
        <td><code><%= boost.field %></code></td>
        <td><code><%= boost.value %></code></td>
        <td><%= boost.boost %></td>
      </tr>
    <% end %>
  </tbody>
</table>
