<% provide :title, 'Boosts' %>
<% provide :body_id, 'dl-admin-boosts' %>
<% provide :active_nav, 'server' %>

<% if current_user.admin? %>
  <%= button_bar({ type: 'button',
                   label: 'Add Boost',
                   'data-toggle': 'modal',
                   'data-target': '#dl-add-boost-modal',
                   icon: 'fa-plus' }) %>
<% end %>

<h1>Boosts</h1>

<div class="alert alert-info">
  <p>A boost is a rule stating that if a particular field in an item or
    collection's indexed document matches a particular value, that
    item/collection should be considered more or less relevant (depending on
    whether the boost is positive or negative), and therefore appear earlier
    or later in results when sorting by relevance.</p>
  <p>To add a boost:</p>

  <ol>
    <li>Log in</li>
    <li>Navigate to an <%= link_to 'item', items_path %> or
      <%= link_to 'collection', collections_path %> results page</li>
    <li>Click the "Admin" button on the item you want to affect</li>
    <li>Navigate to the "Indexed Fields" tab</li>
    <li>Note the field name and value, and use them for the boost</li>
  </ol>
</div>

<div id="dl-boosts">
  <%= render 'boosts' %>
</div>

<%= render partial: 'add_modal', locals: { boost: @new_boost,
                                           context: :new } %>
<%= render partial: 'edit_modal' %>
