<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <%= paginate(@count, @limit, @current_page,
                 Admin::HarvestsController::PERMITTED_PARAMS) %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Content Service</th>
      <th>Status</th>
      <th>Progress</th>
      <th>ETA</th>
      <th>Succeeded</th>
      <th>Failed</th>
      <th>Started</th>
    </tr>
  </thead>
  <tbody>
    <% @harvests.each do |harvest| %>
      <tr>
        <td><%= link_to 'Details', admin_harvest_path(harvest) %></td>
        <td>
          <%= link_to(admin_content_service_path(harvest.content_service)) do %>
            <%= icon_for(harvest.content_service) %>
            <%= harvest.content_service.name %>
          <% end %>
        </td>
        <td><%= harvest_status_badge harvest.status %></td>
        <td><%= (harvest.progress * 100).round(2).to_s + '%' %></td>
        <td>
          <% if harvest.usable? %>
            <%= harvest.estimated_completion ?
                time_ago_in_words(harvest.estimated_completion) :
                'Unknown' %>
          <% end %>
        </td>
        <td>
          <% if harvest.num_succeeded > 0 %>
            <span class="badge badge-pill badge-success">
              <%= number_with_delimiter(harvest.num_succeeded) %></span>
          <% else %>
            <span class="badge badge-pill badge-light">0</span>
          <% end %>
        </td>
        <td>
          <% if harvest.num_failed > 0 %>
            <span class="badge badge-pill badge-danger">
              <%= number_with_delimiter(harvest.num_failed) %></span>
          <% else %>
            <span class="badge badge-pill badge-light">0</span>
          <% end %>
        </td>
        <td><%= time_ago_in_words harvest.created_at %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <%= paginate(@count, @limit, @current_page,
                 Admin::HarvestsController::PERMITTED_PARAMS) %>
  </div>
</div>
