<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title) %> |
    <%= Option::string(Option::Keys::WEBSITE_NAME) %> Control Panel</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'admin', media: 'all' %>
  <%= javascript_include_tag 'admin/application' %>

  <%= render partial: 'layouts/font_awesome' %>

  <!--[if lt IE 9]>
  <script src="https://raw.githubusercontent.com/aFarkas/html5shiv/master/src/html5shiv.js"></script>
  <![endif]-->

  <%= content_for :head %>
</head>

<body class="dl-admin"
      <%= !yield(:body_id).empty? ? raw("id=\"#{yield(:body_id)}\"") : nil %>
      <%= raw("data-nav=\"#{yield(:active_nav)}\"") %>>

  <%= render partial: 'layouts/admin/header' %>

  <div class="container-fluid">
    <%= flashes %>

    <% # It would be better to use the config.force_ssl config option here,
       # but this causes problems with the Elastic Beanstalk health check, which
       # doesn't send an X-Forwarded-Proto header. %>
    <%= hidden_field_tag('dl-root-url', root_url(protocol: (Rails.env.production? or Rails.env.demo?) ? :https : :http)) %>
    <%= hidden_field_tag('dl-root-path', root_path) %>
    <%= hidden_field_tag('dl-current-path', request.fullpath) %>

    <div class="page-content">
      <%= yield.force_encoding(Encoding::UTF_8) %>
    </div>
  </div>

  <footer></footer>

</body>
</html>
