<%
  # @param element_def [ElementDef]
  # @param context [Symbol] :new or :edit

  data_type_options_for_select = ElementDef::DataType::all.map do |c|
    [ ElementDef::DataType::to_s(c), c ]
  end
%>

<%= form_for([:admin, element_def], remote: true) do |f| %>
  <div class="dl-error-messages">
    <% # populated via ajax by shared/_validation_messages.js.erb
    %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <% if context == :new %>
      <%= f.text_field :name, class: 'form-control' %>
    <% else %>
      <br>
      <%= element_def.name %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :label %>
    <%= f.text_field :label, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :data_type %>
    <%= f.select(:data_type, data_type_options_for_select,
                 { selected: element_def.data_type },
                 class: 'form-control') %>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :searchable %>
      Searchable
    </label>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :sortable %>
      Sortable
    </label>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :facetable %>
      Facetable
    </label>
  </div>

  <div class="clearfix">
    <div class="float-right">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <%= f.submit(context == :new ? 'Create Element' : 'Edit Element',
                   class: 'btn btn-primary') %>
    </div>
  </div>
<% end %>
