-# @param element_def [ElementDef]
-# @param context [Symbol] :new or :edit

- data_type_options_for_select = ElementDef::DataType::all.map { |c| [ ElementDef::DataType::to_s(c), c ] }

= form_for([:admin, element_def], remote: true) do |f|
  .dl-error-messages
    - # populated via ajax by admin/shared/_validation_messages.js.erb
  .form-group
    = f.label :name
    - if f.object.new_record?
      = f.text_field :name, class: 'form-control'
    - else
      %br/
      %code= element_def.name
  .form-group
    = f.label :label
    = f.text_field :label, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :data_type
    = f.select(:data_type, data_type_options_for_select,
               { selected: element_def.data_type },
               class: 'custom-select')
  .checkbox
    %label
      = f.check_box :searchable
      Searchable
  .checkbox
    %label
      = f.check_box :sortable
      Sortable
  .checkbox
    %label
      = f.check_box :facetable
      Facetable
  .form-group
    = f.label :weight, 'Facet Weight'
    = f.number_field :weight, class: 'form-control'
  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss" => "modal", type: "button"} Cancel
      = f.submit(f.object.new_record? ? 'Create Element' : 'Edit Element',
                 class: 'btn btn-primary')
