<% provide :title, 'Elements' %>
<% provide :body_id, 'admin_elements' %>
<% provide :active_nav, 'entities' %>

<% if current_user.admin? %>
  <%= button_bar({ type: 'button',
                   label: 'Add Element',
                   'data-toggle': 'modal',
                   'data-target': '#dl-add-element-modal',
                   icon: 'fa-plus' },
                 { type: 'button',
                   label: 'Import&hellip;',
                   'data-toggle': 'modal',
                   'data-target': '#dl-import-modal',
                   icon: 'fa-upload' },
                 { label: 'Export',
                   icon: 'fa-download',
                   url: @permitted_params.merge(format: 'json') }) %>
<% end %>

<h1>Elements</h1>

<table class="table">
  <thead>
    <tr>
      <th style="width: 1px"></th>
      <th style="width: 1px"></th>
      <th>Name</th>
      <th>Label</th>
      <th>Data Type</th>
      <th>Description</th>
      <th>Searchable</th>
      <th>Sortable</th>
      <th>Facetable</th>
    </tr>
  </thead>
  <tbody>
    <% @elements.each do |element| %>
      <tr>
        <td>
          <% if current_user.admin? %>
            <button type="button" class="btn btn-light btn-sm dl-edit-element"
                    data-toggle="modal" data-target="#dl-edit-element-modal"
                    data-element-name="<%= element.name %>">
              <i class="fas fa-edit"></i> Edit
            </button>
          <% end %>
        </td>
        <td>
          <% if current_user.admin? %>
            <%= link_to admin_element_def_path(element),
                        class: 'btn btn-danger btn-sm', method: :delete,
                        data: { confirm: 'Are you sure you want to delete '\
                        'this element?' } do %>
               <i class="fas fa-trash"></i> Delete
            <% end %>
          <% end %>
        </td>
        <td><code><%= element.name %></code></td>
        <td><%= element.label %></td>
        <td><%= ElementDef::DataType::to_s(element.data_type) %></td>
        <td><%= element.description %></td>
        <td class="text-center <%= element.searchable ? 'bg-success' : 'bg-danger' %>">
          <%= boolean(element.searchable) %>
        </td>
        <td class="text-center <%= element.sortable ? 'bg-success' : 'bg-danger' %>">
          <%= boolean(element.sortable) %>
        </td>
        <td class="text-center <%= element.facetable ? 'bg-success' : 'bg-danger' %>">
          <%= boolean(element.facetable) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'add_modal', locals: { element_def: @new_element_def,
                                           context: :new } %>
<%= render partial: 'edit_modal' %>
<%= render partial: 'import_modal' %>
