<% provide :title, 'Elements' %>
<% provide :body_id, 'dl-admin-elements' %>
<% provide :active_nav, 'elements' %>

<% if current_user.medusa_admin? %>
  <%= button_bar({ type: 'button',
                   label: 'Add Element',
                   'data-toggle': 'modal',
                   'data-target': '#dl-add-element-modal',
                   icon: 'fa-plus' },
                 { type: 'button',
                   label: 'Import&hellip;',
                   'data-toggle': 'modal',
                   'data-target': '#dl-import-modal',
                   icon: 'fa-upload' },
                 { label: 'Export',
                   icon: 'fa-download',
                   url: @permitted_params.merge(format: 'json') }) %>
<% end %>

<h1>Elements</h1>

<form class="form-inline mb-3">
  <label for="dl-sort">Sort by:</label>&nbsp;
  <select class="custom-select" name="sort" id="dl-sort">
    <option value="name">Name</option>
    <option value="weight" <%= params[:sort] == 'weight' ? 'selected' : '' %>>Facet Weight</option>
  </select>
</form>

<table class="table">
  <thead>
    <tr>
      <th style="width: 1px"></th>
      <th>Name</th>
      <th>Label</th>
      <th>Data Type</th>
      <th>Description</th>
      <th>Searchable</th>
      <th>Sortable</th>
      <th>Facetable</th>
      <th>Facet Weight</th>
    </tr>
  </thead>
  <tbody>
    <% @elements.each do |element| %>
      <tr>
        <td>
          <% if current_user.medusa_admin? %>
            <button type="button" class="btn btn-light btn-sm dl-edit-element"
                    style="white-space: nowrap"
                    data-toggle="modal" data-target="#dl-edit-element-modal"
                    data-element-name="<%= element.name %>">
              <i class="fas fa-edit"></i> Edit
            </button>
          <% end %>
        </td>
        <td><code><%= link_to element.name, admin_element_def_path(element) %></code></td>
        <td><%= element.label %></td>
        <td><%= ElementDef::DataType::to_s(element.data_type) %></td>
        <td><%= element.description %></td>
        <td class="text-center <%= element.searchable ? 'bg-success' : 'bg-danger' %>">
          <%= boolean(element.searchable) %>
        </td>
        <td class="text-center <%= element.sortable ? 'bg-success' : 'bg-danger' %>">
          <%= boolean(element.sortable) %>
        </td>
        <td class="text-center <%= element.facetable ? 'bg-success' : 'bg-danger' %>">
          <%= boolean(element.facetable) %>
        </td>
        <td><%= element.weight %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'add_modal', locals: { element_def: @new_element_def,
                                           context: :new } %>
<%= render partial: 'edit_modal' %>
<%= render partial: 'import_modal' %>
