<% provide :title, @element.label %>
<% provide :body_id, 'dl-admin-show-element' %>
<% provide :active_nav, 'entities' %>

<%= hidden_field_tag 'dl-element-name', @element.name %>

<%= breadcrumb({ label: 'Home', url: admin_root_path },
               { label: 'Elements', url: admin_element_defs_path },
               { label: @element.label }) %>

<% if @num_usages > 0 %>
  <%= button_bar({
                     label: 'Usages (TSV)',
                     icon: 'fa-file-alt',
                     url: admin_element_def_usages_path(@element)
                 },
                 {
                     label: 'Edit',
                     icon: 'fa-edit',
                     class: 'dl-edit-element',
                     'data-element-name': @element.name,
                     type: 'button',
                     target: '#dl-edit-element-modal',
                     if: -> { current_user.admin? }
                 },
                 {
                     label: 'Delete',
                     icon: 'fa-trash',
                     class: 'btn-danger',
                     url: admin_element_def_path(@element),
                     method: :delete,
                     confirm: 'Are you sure you want to delete this element?',
                     if: -> { current_user.admin? and !@element.system_required? }
                 }) %>
<% end %>

<h1><%= @element.label %> <small><code><%= @element.name %></code></small></h1>

<dl>
  <dt>Data Type</dt>
  <dd><%= ElementDef::DataType::to_s(@element.data_type) %></dd>
  <dt>Usages</dt>
  <dd><%= number_with_delimiter @num_usages %></dd>
  <dt>Description</dt>
  <dd><%= @element.description %></dd>
</dl>

<hr>

<%= button_bar({
                   label: 'Add Value Mapping',
                   icon: 'fa-plus',
                   type: 'button',
                   target: '#dl-add-value-mapping-modal',
                   if: -> { current_user.admin? }
               }) %>

<h2>Value Mappings</h2>

<table class="table">
  <tbody>
    <% @value_mappings.each do |mapping| %>
      <tr>
        <% if current_user.admin? %>
          <td style="width:1px">
            <button type="button" class="btn btn-light btn-sm dl-edit-value-mapping"
                    data-toggle="modal" data-target="#dl-edit-value-mapping-modal"
                    data-value-mapping-id="<%= mapping.id %>">
              <i class="fas fa-edit"></i> Edit
            </button>
          </td>
        <% end %>
        <% if current_user.admin? %>
          <td style="width:1px">
            <%= link_to admin_element_def_value_mapping_path(@element, mapping),
                        class: 'btn btn-danger btn-sm', method: :delete,
                        data: { confirm: 'Are you sure you want to delete '\
                        'this value mapping?' } do %>
              <i class="fas fa-trash"></i> Delete
            <% end %>
          </td>
        <% end %>
        <td>Convert source values matching:</td>
        <td><code><%= mapping.source_value %></code></td>
        <td>to:</td>
        <td><code><%= mapping.local_value %></code></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'edit_modal' %>
<%= render partial: 'admin/value_mappings/add_modal', locals: { element_def: @element } %>
<%= render partial: 'admin/value_mappings/edit_modal' %>
