- provide :title, 'Configuration'
- provide :body_id, 'configuration'
- provide :active_nav, 'server'

%h1 Configuration

= form_tag(admin_configuration_path, method: :patch) do
  %h2 General

  .form-group.row
    = label_tag("configuration[#{Option::Keys::ORGANIZATION_NAME}]",
                'Organization Name', class: "col-sm-3 col-form-label")
    .col-sm-9
      = text_field_tag("configuration[#{Option::Keys::ORGANIZATION_NAME}]",
                       Option::string(Option::Keys::ORGANIZATION_NAME),
                       class: 'form-control')
  .form-group.row
    = label_tag("configuration[#{Option::Keys::ADMINISTRATOR_EMAIL}]",
                'Administrator Email', class: "col-sm-3 col-form-label")
    .col-sm-9
      = text_field_tag("configuration[#{Option::Keys::ADMINISTRATOR_EMAIL}]",
                       Option::string(Option::Keys::ADMINISTRATOR_EMAIL),
                       class: 'form-control')
  .form-group.row
    = label_tag("configuration[#{Option::Keys::COPYRIGHT_STATEMENT}]",
                'Copyright Statement', class: "col-sm-3 col-form-label")
    .col-sm-9
      = text_field_tag("configuration[#{Option::Keys::COPYRIGHT_STATEMENT}]",
                       Option::string(Option::Keys::COPYRIGHT_STATEMENT),
                       class: 'form-control')

  %h2 Website

  .form-group.row
    = label_tag("configuration[#{Option::Keys::WEBSITE_NAME}]",
                'Website Name', class: "col-sm-3 col-form-label")
    .col-sm-9
      = text_field_tag("configuration[#{Option::Keys::WEBSITE_NAME}]",
                       Option::string(Option::Keys::WEBSITE_NAME),
                       class: 'form-control')
  .form-group.row
    = label_tag("configuration[#{Option::Keys::DEFAULT_RESULT_WINDOW}]",
                'Default Result Window', class: "col-sm-3 col-form-label")
    .col-sm-9
      = number_field_tag("configuration[#{Option::Keys::DEFAULT_RESULT_WINDOW}]",
                         Option::string(Option::Keys::DEFAULT_RESULT_WINDOW),
                         class: 'form-control')

  .form-group.row
    .col-sm-3
    .col-sm-9
      = submit_tag 'Save Changes', class: 'btn btn-primary'
