- provide(:body_id, 'items_index')
- provide(:active_nav, 'items')
- provide(:title, 'Items')
= form_tag(@permitted_params, method: :get, class: 'dl-filter', enforce_utf8: false) do
  = hidden_field_tag :q, params[:q]
  .row
    #dl-facets.col-sm-4.col-lg-3.col-xl-2
      = render partial: 'items/facets'
    .col-sm-8.col-lg-9.col-xl-10
      = filter_field
      #dl-items
        = render partial: 'items/items'
