<h2>Elasticsearch</h2>

<% @es_stats['nodes'].each_with_index do |(key, stats), index| %>
  <h3>Node <%= index + 1 %>: <%= stats['name'] %></h3>
  <dl>
    <dt>Used Heap</dt>
    <dd><%= number_to_human_size(stats['jvm']['mem']['heap_used_in_bytes']) %>
      (<%= stats['jvm']['mem']['heap_used_percent'] %>%)</dd>
    <dt>Committed Heap</dt>
    <dd><%= number_to_human_size(stats['jvm']['mem']['heap_committed_in_bytes']) %></dd>
    <dt>Max Heap</dt>
    <dd><%= number_to_human_size(stats['jvm']['mem']['heap_max_in_bytes']) %></dd>
    <dt>Non Heap</dt>
    <dd><%= number_to_human_size(stats['jvm']['mem']['non_heap_used_in_bytes']) %></dd>
  </dl>
<% end %>
