<%= form_for([:admin, @user]) do |f| %>

  <%= render 'admin/shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :username, 'Username' %>
    <%= f.text_field :username, class: 'form-control',
                     disabled: (context == :edit) %>
  </div>

  <% if current_user.admin? %>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <%= f.check_box(:human) %> Human
        </label>
      </div>
    </div>
  <% end %>

  <div class="float-right">
    <%= f.submit(context == :new ? 'Create User' : 'Save Changes',
                 class: 'btn btn-primary') %>
  </div>

<% end %>