<% provide :title, @user.username %>
<% provide :active_nav, 'access' %>

<%= breadcrumb({ label: 'Home', url: admin_root_path },
    { label: 'Users', url: admin_users_path },
    { label: @user.username }) %>

<div class="btn-group float-right" role="group">
  <div class="btn-group" role="group">
    <!-- Actions menu -->
    <% if current_user.admin? or @user == current_user %>
      <button type="button" class="btn btn-light dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions <span class="caret"></span>
      </button>
      <div class="dropdown-menu" role="menu">
        <%= link_to admin_user_reset_api_key_path(@user), method: :post, class: 'dropdown-item' do %>
          <i class="fas fa-key"></i> Reset API Key
        <% end %>
      </div>
    <% end %>
  </div>
  <% if current_user.admin? or current_user == @user %>
    <%= link_to edit_admin_user_path(@user), class: 'btn btn-light' do %>
      <i class="fas fa-edit"></i> Edit
    <% end %>
  <% end %>
  <% if current_user.admin? %>
    <%= link_to admin_user_path(@user), method: :delete,
                class: 'btn btn-danger',
                data: { confirm: 'Are you sure you want to delete this user?' } do %>
      <i class="fas fa-trash"></i> Delete
    <% end %>
  <% end %>
</div>

<h1><%= @user.username %></h1>

<div class="row">

  <div class="col-sm-3">
    <dl>
      <dt>Type</dt>
      <dd><%= @user.human ? 'Human' : 'Non-Human' %></dd>
      <dt>API Key</dt>
      <dd>
        <% if @user == current_user %>
          <% if @user.api_key.present? %>
            <code><%= @user.api_key %></code>
          <% else %>
            None
          <% end %>
        <% else %>
          <% if @user.human %>
            Only visible to <%= @user %>
          <% elsif current_user.admin? %>
            <code><%= @user.api_key %></code>
          <% else %>
            Only visible to <%= @user %> and administrators
          <% end %>
        <% end %>
      </dd>
      <dt>Account Created</dt>
      <dd><%= local_time_ago(@user.created_at) %></dd>
    </dl>
  </div>
</div>
