!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    = render partial: 'layouts/google_analytics'
    %title
      = yield(:title).present? ? "#{yield(:title)} | " : ''
      = Option.string(Option::Keys::WEBSITE_NAME)
    %meta{charset: "utf-8"}
    %meta{content: "#{Option.string(Option::Keys::COPYRIGHT_STATEMENT)}", name: "copyright"}
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    = csrf_meta_tags
    = uofi_favicon_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = render partial: 'layouts/font_awesome'
    %link{rel: "dns-prefetch", href: "https://cdn.toolkit.illinois.edu"}
    %link{rel: "stylesheet", href: "https://cdn.toolkit.illinois.edu/2/toolkit.css"}
    %script{src: "https://cdn.toolkit.illinois.edu/2/toolkit.js"}
    %script{src: "https://kit.fontawesome.com/72baa8e3c1.js", crossorigin: "anonymous"}

  %body{id: yield(:body_id).present? ? yield(:body_id) : nil,
        'data-nav': yield(:active_nav)}
    = hidden_field_tag('dl-root-url',
                       root_url(protocol: (Rails.env.production? or Rails.env.demo?) ? :https : :http))
    = hidden_field_tag('dl-root-path', root_path)
    = hidden_field_tag('dl-current-path', request.path)

    .container-fluid
      = render partial: 'layouts/header'
      .page-content
        = flashes
        = yield.force_encoding(Encoding::UTF_8)
      = render partial: 'layouts/footer'
