<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:title).present? ? "#{yield(:title)} | " : '' %>
      <%= Option.string(Option::Keys::WEBSITE_NAME) %></title>

    <meta charset="utf-8"/>
    <meta name="copyright" content="<%= Option.string(Option::Keys::COPYRIGHT_STATEMENT) %>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= favicon_link_tags %>

    <%= stylesheet_link_tag 'website', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= render partial: 'layouts/font_awesome' %>
  </head>

  <body <%= yield(:body_id).present? ? raw("id=\"#{yield(:body_id)}\"") : nil %>
        <%= raw("data-nav=\"#{yield(:active_nav)}\"") %>>
    <%= render partial: 'layouts/header' %>

    <% # It would be better to use the config.force_ssl config option here,
       # but this causes problems with the Elastic Beanstalk health check, which
       # doesn't send an X-Forwarded-Proto header. %>
    <%= hidden_field_tag('dl-root-url', root_url(protocol: Rails.env.production? ? :https : :http)) %>
    <%= hidden_field_tag('dl-root-path', root_path) %>
    <%= hidden_field_tag('dl-current-path', request.path) %>

    <div class="container-fluid">
      <div class="page-content">
        <%= yield.force_encoding(Encoding::UTF_8) %>
      </div>
    </div>
  </body>
</html>
